
div#bg.frame-element

div#indication.frame-element

div#frame1_sprayer.frame-element
div#frame1_copy1.frame-element
div#frame1_copy2.frame-element

div#frame2_sprayer.frame-element.hidden
div#frame2_spray.frame-element.hidden
div#frame2_copy.frame-element.pull-bottom

div#frame3_sprayer.frame-element.hidden
div#frame3_copy1.frame-element.hidden
div#frame3_copy2.frame-element.hidden

div#frame4_sprayer.frame1_sprayer.frame-element.pull-left
div#frame4_copy.frame-element.hidden
div#frame4_cta.frame-element.pull-right