<div class="isi isi-container">
    <div class="isi-top" id="isi-top">

    </div>
 
    <div class="isi-content">

        <div class="isi-copy-wrapper">

          <div class="isi-copy">
            <div class="isi-copy-inner-wrapper">
                <h3>What is VALTOCO<sup>&reg;</sup> (diazepam nasal spray)?</h3>
                <ul>
                    <li>VALTOCO is a prescription medicine used for the short-term treatment of seizure clusters (also known as “episodes of frequent seizure activity” or “acute repetitive seizures”) in patients 6 years of age and older.</li>
                    <li><strong>VALTOCO is a federally controlled substance (CIV) because it can be abused or lead to dependence.</strong> Keep VALTOCO in a safe place to prevent misuse and abuse. Selling or giving away VALTOCO may harm others and is against the law. Tell your healthcare provider if you have abused or been dependent on alcohol, prescription drugs, or street drugs.</li>
                    <li>It is not known if VALTOCO is safe and effective in children under 6 years of age.</li>
                </ul> 
                
                <h3>IMPORTANT SAFETY INFORMATION</h3>
                <h3>What is the most important information I should know about VALTOCO?</h3>

                <ul>
                    <li>
                        <strong>VALTOCO is a benzodiazepine medicine. Taking benzodiazepines with opioid medicines, alcohol, or other central nervous system (CNS) depressants (including street drugs) can cause severe drowsiness, breathing problems (respiratory depression), coma, and death.</strong> Get emergency help right away if any of the following happens:
                        <ul>
                            <li>Shallow or slowed breathing</li>
                            <li>Breathing stops (which may lead to the heart stopping)</li>
                            <li>Excessive sleepiness (sedation)</li>
                        </ul>
                    </li>

                    <li>
                        <strong>Risk of abuse, misuse, and addiction.</strong> There is a risk for abuse, misuse, and addiction with benzodiazepines, including VALTOCO, which can lead to overdose and serious side effects including coma and death.
                        <ul>
                            <li><strong>Serious side effects have happened in people who have abused or misused benzodiazepines, including diazepam (the active ingredient in VALTOCO).</strong> These serious side effects may also include delirium, paranoia, suicidal thoughts or actions, seizures, and difficulty breathing. <strong>Call your healthcare provider or go to the nearest hospital emergency room right away if you get any of these serious side effects.</strong></li>
                            <li><strong>Use VALTOCO exactly as your healthcare provider prescribed.</strong></li>
                           
                        </ul>
                    </li>

                    <li><strong>Physical dependence and withdrawal reactions.</strong> Benzodiazepines, including VALTOCO, can cause physical dependence and withdrawal reactions, especially if you use VALTOCO daily. VALTOCO is not intended for daily use.</li>

                    <li>
                        <strong>VALTOCO can make you sleepy or dizzy and can slow your thinking and motor skills.</strong>

                        <ul>
                            <li>Do not drive, operate heavy machinery, or do other dangerous activities until you know how VALTOCO affects you.</li> 
                            <li>Do not drink alcohol or take opioid medicines that make you sleepy or dizzy while taking VALTOCO until you talk to your healthcare provider. When taken with alcohol or medicines that can cause sleepiness or dizziness, VALTOCO may make your sleepiness or dizziness worse.</li>
                        </ul>
                    </li>

                    <li>
                        <strong>Like other antiepileptic drugs, VALTOCO may cause suicidal thoughts or actions in a very small number of people, about 1 in 500.</strong> Call a healthcare provider right away if you have any new or worsening suicidal thoughts or related symptoms, especially unusual changes in mood, behaviors, thoughts or feelings.
                    </li>
                </ul>

                <h3>How can I watch for early symptoms of suicidal thoughts or actions?</h3>
                <ul>
                    <li>Pay attention to any changes, especially sudden changes in mood, behaviors, thoughts, or feelings.</li>
                    <li>Keep all follow-up visits with your healthcare provider as scheduled.</li>
                    <li>Call your healthcare provider between visits as needed, especially if you are worried about symptoms. Suicidal thoughts or actions can be caused by things other than medicines. If you have suicidal thoughts or actions, your healthcare provider may check for other causes.</li>
                </ul>

                <h3>Do not use VALTOCO if you:</h3>
                <ul>
                    <li>Are allergic to diazepam.</li>
                    <li>Have an eye problem called acute narrow-angle glaucoma.</li>
                </ul>

                <h3>What should I tell my doctor before taking VALTOCO?</h3>
                <p><strong>Before using VALTOCO, tell your healthcare provider about all of your medical conditions, including if you:</strong></p>

                <ul>
                    <li>Have asthma, emphysema, bronchitis, chronic obstructive pulmonary disease, or other breathing problems.</li>
                    <li>Have a history of alcohol or drug abuse.</li>
                    <li>Have a history of depression, mood problems, or suicidal thoughts or behavior.</li>
                    <li>Have liver or kidney problems. </li>
                    <li>Are pregnant or plan to become pregnant. VALTOCO may harm your unborn baby. </li>
                    <li>Are breastfeeding or plan to breastfeed. VALTOCO passes into your breast milk and may harm your baby. Talk to your healthcare provider about the best way to feed your baby if you use VALTOCO.</li>
                </ul>

                <p><strong>Tell your healthcare provider about all the medicines you take,</strong> including prescription and over-the-counter medicines, vitamins, and herbal supplements.</p>

                <h3>How should I use VALTOCO?</h3>

                <ul>
                    <li><strong>Read the Instructions for Use for detailed information about the right way to use VALTOCO.</strong></li>
                    <li>Use VALTOCO exactly as prescribed by the healthcare provider.</li>
                    <li>Your healthcare provider will tell you:
                        <ul>
                            <li>What seizure clusters are</li>
                            <li>Exactly how much VALTOCO to give</li>
                            <li>When and how to give VALTOCO</li>
                            <li>What to do after you give VALTOCO if the seizures do not stop or there is a change in breathing, behavior, or condition that worries you</li>
                        </ul>
                    </li>

                    <li>You should carry VALTOCO with you in case you need to control your seizure clusters.</li>
                    <li>VALTOCO is given in the nose (nasal) only.</li>
                    <li>Each VALTOCO only sprays 1 time and cannot be reused. <strong>Do not</strong> test or prime the nasal spray before use.</li>
                    <li>Each dose of VALTOCO is provided in an individual pack. Use all of the medicine in 1 pack for a complete dose.</li>
                </ul>

                <h3>What should I do after I give VALTOCO?</h3>
                <ul>
                    <li>Stay with the person after you give VALTOCO and watch them closely.</li>
                    <li>Make a note of the time VALTOCO was given.</li>
                    <li>Call for emergency help if any of the following happen:
                        <ul>
                            <li>Seizure cluster behavior is different than other seizure clusters the person has had.</li>
                            <li>You are alarmed by how often the seizures happen, by how severe the seizure is, by how long the seizure lasts, or by the color or breathing of the person.</li>
                        </ul>
                    </li>
                    <li>Throw away (discard) the used VALTOCO.</li>
                </ul>

                <p>If needed, a second dose may be given at least 4 hours after the first dose, using a new pack of VALTOCO. Do not give more than 2 doses of VALTOCO to treat a seizure cluster.</p>
                <p>A second dose should <strong>not</strong> be given if there is concern about the person’s breathing, they need help with their breathing, or have extreme drowsiness.</p>
                <p>Do not use VALTOCO for more than 1 seizure cluster episode every 5 days. Do not use VALTOCO for more than 5 seizure cluster episodes in 1 month.</p>


                <h3>What are the most common side effects of VALTOCO?</h3>
                <p>The most common side effects of VALTOCO include:</p>
                <ul>
                    <li>Feeling sleepy or drowsy</li>          
                    <li>Headache</li>              
                    <li>Nose discomfort</li>
                </ul>

                <p>These are not all of the possible side effects of VALTOCO. Call your healthcare provider for medical advice about side effects. You may report side effects to Neurelis, Inc. at <span class="underline accent-color" >1-866-696-3873</span> or to FDA at <span class="underline accent-color" >1-800-FDA-1088</span>.</p>
   
                <p><strong>Please see full <a data-exit="clickTag2" class="underline accent-color">Prescribing Information</a> and Medication Guide for additional important safety information.</strong></p>
                
                <p>NEURELIS, VALTOCO, and the NEURELIS and VALTOCO logos are trademarks or registered trademarks of Neurelis, Inc.</p>
                <p>&copy; Neurelis, Inc. 2022. All rights reserved.</p>
                <p class="no-spacing">US-PRC-22-00011 02/2022</p>

                img(src=require("./../assets/images/isi/logo.png") class="isi-logo" width="130" height="18")

            </div> 
            //- #isi-copy-inner-wrapper 
            
          </div> 
          //- #isi-copy 

        </div> 
        //- #isi-copy-wrapper 

    </div> 
    //- .isi-content 
  
</div> 
//- #isi-container 
